@font-face {
    font-family: "Mehar";
        src: url("https://github.com/Gazi-Cloud/Fonts/raw/master/Mehar%20Nastaleeq%20v2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
      }
