@font-face {
    font-family: "Mehr";
    src: url("https://github.com/Gazi-Cloud/Fonts/blob/master/Mehr.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


